/* header{
    background-color: green;
}

header h1{
    padding: 2% 0;
    padding-left:5% ;
}
#cardDiv{
    border: 1px Solid gray;
    padding-left:5%;

}

#cardDiv li{
    border: 1px Solid gray;
} */